/* CSS declarations go here */

.body-container {
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 1200px;
	width: 100%;
	height: 100%;
	position: absolute;
}
.touch .body-container {
	-webkit-transition: -webkit-perspective-origin-x 0.5s, -webkit-perspective-origin-y 0.5s;
}
.block-of-images .tag-input-holder {
	position: absolute;
	display: block;
	font-size: 24px;
	width: 100%;
	text-align: center;
	z-index: 1;
	bottom: 0;
	line-height: 0;
	height: 40px;
}
.block-of-images #tag-input {
	font-size: inherit;
	text-align: inherit;
}
.block-of-images .tile .tile-image {
	margin: 0px;
	padding: 0px;
	z-index:1;
}
.block-of-images .tile .description a {
	text-decoration: none;
	color: rgb(0,0,100);
	padding: 10px;
	display: block;
}
.block-of-images .tile .description {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 16px;
	display: block;
	font-family: Arial Black, sans-serif;
	font-weight: bold;
	text-align: center;
	overflow-y: scroll;
}
.block-of-images .tile.hover .tile-image,
.block-of-images .tile:hover .tile-image {
	-webkit-transform: rotateX(90deg);
	-webkit-transition-duration: 0.5s;
}
.block-of-images .tile .tile-image {
	pointer-events: none;
	position: relative;
	-webkit-transform-origin: 0 0;
	-webkit-transition-timing-function: cubic-bezier(0.5,0,0,1);
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1.5s;
}
.block-of-images .tile {
	position: relative;
	display: inline-block;
}
.opponent-side {
	-webkit-transform: rotateY(-90deg);
}
.my-side {
	-webkit-transform: rotateY(0deg);
}
.guessing .opponent-side {
	-webkit-transform: rotateY(0deg);
}
.guessing .my-side {
	-webkit-transform: rotateY(90deg);
}
.block-of-images {
	-webkit-transform-style: preserve-3d;
/*	-webkit-perspective: 1200px;*/
	-webkit-transition: -webkit-transform 0.5s;
	-webkit-transform-origin: 255px 0 -255px;
	position: absolute;
	top: 0;
	left: 0;
	width: 511px;
	height: 425px;
	font-size: 0;
	border: 1px solid blue;
	background-color: rgba(255,255,255,0.85);
}